/* 
  Reset
  =======================================

  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus { outline:0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 
  The Grid
  =======================================

  See: http://www.creativebloq.com/design/building-modern-grid-system-5122962
*/

.row {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

/* Nested rows */
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }


/* Float the last column in a row to the right, because of different browser behavior with rounding */
[class*="column"] + [class*="column"]:last-child { float: right; }
/* Make an exception and float left */
[class*="column"] + [class*="column"].end { float: left; }

.row .one     { width: 8.33% }
.row .two     { width: 16.66% }
.row .three   { width: 25% }
.row .four    { width: 33.33% }
.row .five    { width: 41.66% }
.row .six     { width: 50% }
.row .seven   { width: 58.33% }
.row .eight   { width: 66.66% }
.row .nine    { width: 75% }
.row .ten     { width: 83.33% }
.row .eleven  { width: 91.66% }
.row .twelve  { width: 100% }


/* Nicolas Gallagher's micro clearfix */
/* http://nicolasgallagher.com/micro-clearfix-hack */
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }


img { display: block; max-width: 100%; }



/*
 PANELS
*/

html, body {
  height: 100%;
}

.panel.document {
  direction: rtl;
  position: relative;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 65%;
  border-right: 1px solid #ddd;
  padding-top: 30px;
}

.resources {
  float: right;
  line-height: 25px;
  width: 35%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.panel.resource {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

.panel.resource.active {
  display: block;
}

.context-toggles {
  padding: 10px 0px;
  text-align: center;
}

.context-toggle {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
}

.context-toggle.active, .context-toggle:hover {
  opacity: 1;
}

.context-toggle img {
  height: 35px;
  margin: 0px auto;
}

/* 
  Typography
  =======================================
*/

* {
  transition: background-color 0.5s ease;
}

body {
  /*font-family: 'Palatino', Georgia;*/
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 17px;
  line-height: 25px;
  -webkit-font-smoothing: antialiased;
/*  color: rgba(0,0,0,0.75);
  color: rgba(0,0,0,0.75);*/
  color: #292929;
}

strong { font-weight: bold; }

i { font-style: italic; }

/* Colors */
.fill-navy { background: #28353d; }


a {
  color: #292929;
  /*color: #3175D9;*/
  text-decoration: none;
}

/*a:hover {
  color: #48C4FF;
}*/



/* 
  Content Nodes
  =======================================
*/





/* Article Layout
------------------------------------------------------- */

.article {
  height: 100%;
}

body.toc-active .article {
  display: none;
}


.content-node {
  padding: 0 15px;
  direction: ltr;
}

/*.content-node .content {
  position: relative;
}

.content-node .content {
  padding: 0px 20px;
}*/


.figure-caption,
.content-node.web-page .caption {
  font-size: 13px;
  line-height: 20px;
  padding-top: 20px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  text-align: center;
}

.content-node.web-page .caption {
  padding-top: 10px;
}

.remarks {
  line-height: 23px;
}

.remarks .remark {
  font-size: 14px;
  font-style: italic;
  /*color: #488783;*/

  color: #555;

  /*padding-left: 10px;*/
  margin-bottom: 10px;
  /*border-left: 2px solid rgba(27,180,105,1);*/
  /*background: rgba(27,180,105,0.03);*/
}

/* Remark annotations */

.content-node span.remark {
  background: rgba(215, 215, 215, 0.3);
  padding: 1px 3px;
  transition: background .5s ease-in-out;
   -moz-transition: background .5s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

span.remark.active {
  background: rgba(215, 215, 215, 0.5);
}


/* Header
------------------------------------------------------- */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  background: #262626;

  color: #fff;
  overflow: hidden;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-size: 14px;

  font-weight: bold;
  z-index: 100000;
}

.header:hover, body.toc-active .header {
  background: #000;
}

.header .title {
  float: left;
  line-height: 40px;
}

.header .info {
  text-align: right;
  float: right;
  line-height: 40px;
}

.header .info i {
  padding-left: 10px;
}

.header .info i.fa-caret-up {
  display: none;
}

body.toc-active .header .info i.fa-caret-up {
  display: inline-block;
}

body.toc-active .header .info i.fa-caret-down {
  display: none;
}

.header .toggle-toc {
  display: block;
  color: white;
  text-decoration: none;
  line-height: 40px;
}


.header .toggle-toc .section {
  padding-left: 10px;
}


/* Cover
------------------------------------------------------- */


.cover {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #2a2e39;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.cover-open .cover {
  position: fixed;
  -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 0px, 0);
  transform: translate3d(0, -100%, 0) translate3d(0, 0px, 0);
}

/* Fullscreen image */
.cover-image {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  opacity: 0.8;
  z-index: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.cover-logo img {
  z-index: 99;
  position: absolute;
}

.cover-logo a.hbs img {
  top:30px;
  right:30px;
}

a.oi img {
  height: 30px;
  margin-bottom: 25px;
}

.cover-open .cover-image {
  opacity: 0;
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0);
}

/* Intro content */
.cover-content {
  position: absolute;
  bottom: 0;
  padding: 1.8em;
  width: 100%;
  font-size: 1.15em;
}

.cover-title {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #dbdbdb;
  width: 70%;
}

.cover-subtitle {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 70%;
}

.cover-description {
  line-height: 1.2;
  color: #dbdbdb;
}


.content-node.cover {
  padding-bottom: 20px;
  background: #fff;
  margin-bottom: 30px;
}

.include-toc .content-node.cover {
  padding-top: 40px;
}

.content-node.cover .cover-inner {
  border-bottom: 1px solid #000;
}

.content-node.cover.dark {
  background: #000;
  color: #fff;
}

.cover-image {
  padding-top: 40px;
}

.cover-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  /*max-height: 600px;*/
}


.content-node.cover .title {
  font-size: 50px;
  text-align: center;
  /*font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;*/
  /*font-family: Palatino;*/
  /*font-family: 'Helvetica Neue', 'Arial';*/
  letter-spacing: -3px;

  /*font-weight: bold;*/
  line-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-node.cover .article-meta {
  /*font-family: 'Helvetica Neue', 'Arial';*/
  overflow: visible;
  font-size: 18px;
  padding-bottom: 30px;
}

.content-node.cover .article-meta .authors {
  text-align: center;
  /*color: white;*/
  font-style: italic;

}

.content-node.cover .article-meta .authors a {
  /*color: white;*/
}

.separator {
  padding-top: 30px;
  text-align: center;
}

.content-node.cover .published-on {
  color: rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 40px;
}

.content-node.cover .article-abstract {
  /*font-family: 'Helvetica Neue', 'Arial';*/
  color: rgba(0,0,0,0.8);
  padding: 0px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}


.down-arrow {position: absolute;right: 10%;bottom: 60px; text-align: center;-webkit-animation:bounce 2s infinite;}

.arrow {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: 0.75em;
  -webkit-animation:bounceOut 3s infinite;
}

.arrow:hover {
  cursor: pointer; 
  -moz-animation:bounceOut 1s infinite;
  -webkit-animation:bounceOut 1s infinite;
}

.cover-open .arrow {
  -webkit-animation:none;
}

.arrow:after {
  content: '';
  display: inline-block;
  margin-top: 15px;
  width: 33px;
  height: 33px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-moz-keyframes bounceOut {
        0%{ box-shadow: 0px 0px 0px 0px #fff; opacity:1;}
        50%{ box-shadow: 1px 1px 40px 3px #fff; opacity:1; }
        100%{ box-shadow: 0px 0px 0px 0px #fff; opacity:1;}
}

@-webkit-keyframes bounceOut {
        0%{ box-shadow: 0px 0px 0px 0px #fff; opacity:1;}
        50%{ box-shadow: 1px 1px 80px 3px #fff; opacity:1; }
        100%{ box-shadow: 0px 0px 0px 0px #fff; opacity:1;}
}

@-webkit-keyframes bounce {
        0%{ bottom:60px; }
        50%{ bottom:90px;  }
        100%{ bottom:60px; }
}


body.toc-active .toc {
  display: block;
}

.toc a {
  text-decoration: none;
  color: #292929;
}

.toc .toc-entry {
  font-size: 17px;
  padding: 5px 0;
  /*color: #666;*/
}

.toc .toc-entry:hover, .toc .toc-entry.active {
  background: #ccc;
}

.toc .toc-entry:hover a, .toc .toc-entry.active a {
  color: #fff;
}

.toc .toc-entry:nth-child(odd) {
  /*background:#f1f1f1;*/
}

.toc .toc-entry.level-1 .row {
  /*border-top: 1px solid #ddd;*/
}

.toc .toc-entry .heading {
  /*font-family: 'Helvetica Neue', 'Helvetica', 'Arial';*/
  font-weight: bold;
  padding-left: 15px;
}

.toc .toc-entry .teaser {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 15px;
  /*font-family: 'Helvetica Neue', 'Helvetica', 'Arial';*/
  /*color: rgba(0,0,0,0.5);*/
}

.toc .toc-entry .figures {
  padding-top: 40px;
  overflow: auto;
}

.toc .toc-entry .figures img {
  opacity: 0.7;
  width: 100px;
}

.toc .toc-entry .figures img:hover {
  opacity: 1.0;
}

.toc .toc-entry .figures .figure {
  display: block;
  float: left;
  margin-right: 10px;
}

.toc .toc-entry.level-1 {
  font-size: 13px;
  /*padding-left: 20px;*/
}

.toc .toc-entry.level-2 {
  font-size: 13px;
  padding-left: 20px;
}

.toc .toc-entry.level-3 {
  font-size: 13px;
  padding-left: 40px;
}



/* Text (Paragraph)
------------------------------------------------------- */

.content-node.text {
  /*max-width: 640px;*/
  /*margin: 0px auto;*/
  margin-bottom: 30px;
}


/* Quote
------------------------------------------------------- */

.content-node.blockquote {
  margin-bottom: 30px;
}

.content-node.blockquote .content {
  /* max-width: 640px; */
  /* margin: 0px auto; */
  font-size: 18px;
  /* font-family: "Georgia"; */
  text-align: center;
  /* font-weight: bold; */
  font-style: italic;
  line-height: 30px;
  padding: 25px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.content-node.blockquote .content a {
  text-decoration: none;
}


/* Audio
------------------------------------------------------- */

.content-node.audio {
  margin-bottom: 30px;
}

.content-node.audio .audio-wrapper {
  padding: 20px 0px;
/*  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;*/
  
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  background: #f9f9f9;

  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-size: 15px;
  line-height: 21px;
}

.content-node.audio .audio-wrapper .caption {
  padding-top: 20px;
}


.content-node.audio .audio-wrapper audio {
  width: 100%;
  margin: 0px auto;
}


/* Codeblock
------------------------------------------------------- */

.content-node.code-block {
  margin-bottom: 50px;
}

.content-node.code-block .content pre {
  overflow: auto;
  font-family: Menlo, Bitstream, 'Vera Sans Mono', Monaco, Consolas, monospace;

  background: #000;
  color: #aaa;
  padding: 20px 20px;

  font-size: 13px;
  line-height: 18px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* Listitem
------------------------------------------------------- */

.content-node.list-item {

}

.content-node.list-item .content:before {
}

.content-node.list-item .content {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
}

.content-node.list-item.level-1 .content {
  margin-left: 34px;
  margin-bottom: 10px;
}

.content-node.list-item.level-2 .content {
  margin-left: 20px;
}

.content-node.list-item.level-3 .content {
  margin-left: 40px;
}

.content-node.list-item.level-4 .content {
  margin-left: 60px;
}

.content-node.list-item.last {
  margin-bottom: 30px;
}

.content-node.list-item.last .content {
  margin-bottom: 0px;
}


/* Heading
------------------------------------------------------- */

.content-node.heading .content {
  /*font-family: 'Helvetica Neue', 'Arial';*/
}

.content-node.heading.level-1 h1 {
  /*font-family: Futura;*/
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 30px;
}

.content-node.heading.level-2 h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content-node.heading.level-3 h3 {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* Heading anchor */
.content-node.heading:hover .content .anchor {
  display: block;
}

.content-node.heading:hover .content .anchor:hover {
  color: #555;
}

.content-node.heading .content .anchor {
  display: none;
  position: absolute;
  left: -3px;
  width: 20px;
  top: -2px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.content-node.heading.level-2 .content .anchor {
  /*top: 13px;*/
}

.content-node.heading.level-3 .content .anchor {
  /*top: 13px;*/
}




/* References (optional)
------------------------------------------------------- */

.content-node.references .content {
  max-width: 640px;
  margin: 0px auto;
  padding-top: 40px;
  margin-bottom: 60px;
}

.content-node.references .label {
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 10px;
}

span.reference {
  padding: 2px 0px;
  transition: background .5s ease-in-out;
   -moz-transition: background .5s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

span.reference.active {
  background: rgba(120, 160, 255, 0.3);
}

sup { 
  vertical-align: super;
  font-size: smaller;
  line-height: 0px;
  padding: 0px 2px;
}


/* Publication Info
------------------------------------------------------- */

a.pdf {
  clear: both;
  height: 60px;
  display: block;
  padding: 5px 0px;
  margin: 25px 0px 20px;
}

a.pdf > span {
  float: left;
  width: 80%;
}

a.pdf > img {
  float: right;
  height: 50px;
}


.info .title h1 {
  padding-top: 10px;
  font-weight: normal;
}

.info .meta-data {
  padding: 30px 0px 15px;
  border-bottom: 1px solid #ddd;
  margin: 20px 0px;
  border-top: 1px solid #ddd;
}

.info .meta-data .container {
  margin-bottom: 20px;
  clear: both;
}


.info .meta-data .label {
  float: left;
  width: 150px;
  font-size: 15px;
  color: #999;
}

.info .meta-data .value {
  margin-left: 200px;
}

.info .support {
  clear: both;
  border-bottom: 1px solid #ddd;
  display: block;
  height: 100px;
  margin-bottom: 20px; 
}

.info .support .value {
  float: left;
  display: inline-block;
  width: 60%;
}

.info .support .logo {
  float: right;
  display: inline-block;
  width: 20%;
}

.info .credits {
  font-size: smaller;
}

.info .report-credits {
  padding-top: 10px;
  font-size: initial;
  margin-bottom: 20px;
}

.content-node.publication-info {
  border-top: 2px solid #e6e6e6;
  /*border-bottom: 2px solid #000;*/
  margin-top: 60px;
  /*margin-bottom: 30px;*/
  font-style: italic;
  /*font-size: 16px;*/
  /*color: #fff;*/
  /*color: #888;*/
  background: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;

  /*font-size: 15px;*/
  /*color: #666;*/
  /*line-height: 20px;*/
  /*border-left: 2px solid #eee;*/
  /*font-family: 'Helvetica Neue', 'Helvetica', 'Arial';*/

  /*padding-bottom: 50px;*/
}


.content-node.publication-info .content {
  max-width: 640px;
  margin: 0px auto;
}


.content-node.references .citations {
  padding-top: 20px;
}

.content-node.references .citations .citation,
.content-node.notes .notes .note {
  color: #505050;
  position: relative;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.content-node.references .citations .citation:hover,
.content-node.notes .notes .note:hover {
  opacity: 1;
}

.content-node.references .citations .citation.active {
  border: 1px solid rgba(120, 160, 255, 0.3);
  opacity: 1;
}

.content-node.notes .notes .note.active {
  border: 1px solid rgba(134, 134, 134, 0.5);
  opacity: 1;
}

.content-node.references .citations .citation-url {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.content-node.references .citations .citation-url a {
  color: #505050;
  text-decoration: none;
}

.content-node.references .citations .citation-description {
  padding-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
}

.content-node.notes .notes .note {
  padding-bottom: 20px;
  color: #505050;
  font-size: 15px;
}

.content-node.publication-info .authors {
  /*border-top: 1px solid rgba(0,0,0,0.2);*/
  /*margin-bottom: 60px;*/
}


.content-node.publication-info .authors .author {
  padding: 20px 0px;
  overflow: auto;

  /*background: rgba(0,0,0,0.05);*/
  /*border: 2px solid #eee;*/
  /*margin-bottom: 20px;*/
  
  /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
}

.content-node.publication-info .authors .author-name {
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  /*letter-spacing: -3px;*/
  padding-bottom: 5px;
}

.content-node.publication-info .authors .author-description {
  /*line-height: 22px;*/
}

.content-node.publication-info .authors .author-image {
  /*padding-top: 30px;*/
  max-width: 120px;
  float: left;
  padding-right: 20px;
  /*padding-bottom: 20px;*/
}


.content-node.publication-info .published-on {
  font-size: 22px;
  font-style: italic;
  padding-bottom: 20px;
}

.content-node.publication-info .copyright {
  /*font-size: 14px;*/
  /*padding-top: 40px;*/
}

.content-node.publication-info .copyright-statement {
  padding-bottom: 30px;
}

.content-node.publication-info .credits {
  padding-top: 20px;
}

.content-node.publication-info .legal {
  /*padding-bottom: 50px;*/
  /*font-size: 14px;*/
  /*line-height: 23px;*/
  /*color: #666;*/
  /*line-height: 20px;*/
  /*border-left: 2px solid #eee;*/
  /*font-family: 'Helvetica Neue', 'Helvetica', 'Arial';*/
  /*padding-bottom: 30px;*/
  /*font-style: normal;*/
}


/* Gallery
------------------------------------------------------- */

.gallery {
  padding: 20px 0;
  /*background: #B7BFC2;*/
  margin-bottom: 40px;
}

.gallery .thumbnails {
  margin: 0px auto;
}

.gallery .thumbnails .thumbnail img {
  display: block;
  height: 60px;
  width: auto;
}

.gallery .thumbnails .thumbnail {
  border: 1px solid #888;
  opacity: 0.3;
  
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.gallery .thumbnails .thumbnail:hover {
  opacity: 0.5;
}

.gallery .thumbnails .thumbnail.active {
  opacity: 1;
  border: 1px solid #222;
}

/* Overrides */
.gallery .content-node.figure {
  padding-bottom: 0px;
}

.gallery .content-node.figure .figure-caption {
  /*color: rgba(255,255,255,0.9);*/
}

/* Figure
------------------------------------------------------- */


.content-node.figure {
  /*text-align: center;*/
  padding-top: 20px;
  padding-bottom: 40px;
}

.content-node.figure .image {
  text-align: right;
  overflow: hidden;
}

.content-node.figure .image img {
  float: right;
}


.content-node.figure .caption {
  font-size: 14px;
  text-align: left;
  color: #777;
  margin: 0 auto;
}

.content-node.figure img {
  /*max-width: 100%;*/
  width: 100%;
}


/* WebPage
------------------------------------------------------- */

.content-node.web-page {
  text-align: center;
  padding-bottom: 20px;
  padding-bottom: 50px;
}

.content-node.web-page .page-wrapper {
  margin: auto;
}

.content-node.web-page .page-wrapper iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* Video
------------------------------------------------------- */


.content-node.video {
  /*text-align: center;*/
  padding-top: 20px;
  padding-bottom: 40px;
}

.content-node.video .video-wrapper {
  text-align: right;
  overflow: hidden;
}

.content-node.video .video-wrapper video {
  float: right;
}

.content-node.figure .caption {
  font-size: 14px;
  text-align: left;
  color: #777;
  margin: 0 auto;
}

.content-node.video video {
  max-width: 100%;
}


/* Counter Business
------------------------------------------------------- */


body {
  counter-reset: toc-chapter 0;
  counter-reset: toc-section 0;
  counter-reset: toc-subsection 0;
  counter-reset: toc-subsubsection 0;

  counter-reset: heading-1 0;
  counter-reset: heading-2 0;
  counter-reset: heading-3 0;
  counter-reset: heading-4 0;
}

.section-numbering .toc .toc-entry.level-1 {
  counter-increment: toc-chapter;
  counter-reset: toc-section 0 !important;
}

.section-numbering .toc .toc-entry.level-1 .heading:before  { content: counter(toc-chapter) ". "; }

.section-numbering .toc .toc-entry.level-2 {
  counter-increment: toc-section;
  counter-reset: toc-subsection 0 !important;
}

.section-numbering .toc .toc-entry.level-2 .heading:before  { content: counter(toc-chapter) "." counter(toc-section) ". "; }

.section-numbering .toc .toc-entry.level-3 {
  /*padding-left: 40px;*/
  counter-increment: toc-subsection;
  counter-reset: toc-subsubsection 0 !important;
}

.section-numbering .toc .toc-entry.level-3 .heading:before  { content: counter(toc-chapter) "." counter(toc-section) "." counter(toc-subsection) ". "; }

.section-numbering .toc .toc-entry.level-4 {
  /*padding-left: 60px;*/
  counter-increment: toc-subsubsection;
}

.section-numbering .toc .toc-entry.level-4 .heading:before  { content: counter(toc-chapter) "." counter(toc-section) "." counter(toc-subsection) "." counter(toc-subsubsection) ". "; }


/* Headings */

.section-numbering .heading.level-1 {
  counter-increment: heading-1;
  counter-reset: heading-2 0 !important;
}

.section-numbering .heading.level-1 h1:before { content: counter(heading-1) ". "; }

.section-numbering .heading.level-2 {
  counter-increment: heading-2;
  counter-reset: heading-3 0 !important;
}

.section-numbering .heading.level-2 h2:before { content: counter(heading-1) "." counter(heading-2) ". "; }

.section-numbering .heading.level-3 {
  counter-increment: heading-3;
  counter-reset: heading-4 0 !important;
}

.section-numbering .heading.level-3 h3:before { content: counter(heading-1) "." counter(heading-2) "." counter(heading-3) ". "; }

.section-numbering .heading.level-4 {
  counter-increment: heading-4;
}
.section-numbering .heading.level-4 h4:before { content: counter(heading-1) "." counter(heading-2) "." counter(heading-3) "." counter(heading-4) ". "; }

.heading.title {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 30px;
}




/* Mobile */
@media only screen and (max-width: 800px) {
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
  }

  .container {  }
  
  .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
  
  .column, .columns { width: auto !important; float: none;  }
  .column:last-child, .columns:last-child { float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  
  .column:before, .columns:before, .column:after, .columns:after { content:""; display:table; }
  .column:after, .columns:after { clear: both; }

  .content-node {
    padding: 0px;
  }

  /* Substance adjustments */

  .remarks .remark {
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .figure-caption {
    border: none;
    margin-bottom: 0px;
  }

  .content-node .description {
    padding: 0px 15px;
    /*color: #666;*/
    /*background: #f1f1f1;*/
    /*padding-bottom: 20px;*/
/*    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
*/  
    border-bottom: 2px solid #efefef;
  }

  .content-node.figure img {
    width: 100%;
  }

  .content-node.video video {
    width: 100%;
  }

  .content-node.figure .columns {
    /*margin-left: -15px;*/
    padding: 0px;
    /*margin-right: -15px;*/
  }

  .content-node.heading:hover .content .anchor {
    display: none;
  }
}

@media screen and (max-width: 600px) {
    .down-arrow {
        position: static;
        padding-top: 20px;
    }
    .cover-logo img,
    .cover-content img {
      display: none;
    }
    .cover-title,
    .cover-subtitle {
      width: 100%;
    }
    .cover-title {
      font-size: 33px;
    }
}

@media screen and (max-width: 730px) {
  .panel.document {
    width: 100%
  }
  .resources {
    display:none;
  }
  div.content span.reference,
  div.content span.remark {
    background: none;
  }
}

@media screen and (max-width: 1024px) {
  .resources {
    padding-left: 10px;
    padding-right: 10px;
  }
  .context-toggle {
    font-size: 9px;
  }
  .context-toggle img {
    height: 25px;
  }
}

@media screen and (max-width: 1300px) {
  .row {
    max-width: 700px;
  }
  .info .support .logo {
    float: right;
    display: inline-block;
    width: 30%;
  }
  .info .meta-data .value {
    margin-left: 160px;
  }
}