---
layout: 2013_ru
---    
        <div class="limiter">
          <div id="data-list" class="popover right">
          </div>
          <div id='prose-data'>{{content}}</div>
        </div>
        <div id='table-wrapper'>
  			<div id='interactive-overviews'>
    			<div class="limiter">
      				<table class='clearfix tablesorter' style='display:none;'>
      					<colgroup> 
							<col width="85" /> 
    						<col width="150" /> 
    						<col width="85" /> 
    						<col width="100" /> 
    						<col width="120" />
    						<col width="220" /> 
    						<col width="110" /> 
    						<col width="90" /> 
  						</colgroup> 
        				<thead>
          					<tr>
            					<th>Дата</th>
            					<th class="filter-select">Согласованность</th>
            					<th class="filter-select">Тип</th>
            					<th class="filter-select">Тематика</th>
            					<th class="filter-select">Организатор</th>
            					<th>Описание</th>
            					<th>Задержано</th>
            					<th>Источник</th>
          					</tr>
        				</thead>
        				<tbody>
        					<!-- Content populates here -->
        				</tbody>
      				</table>
    			</div>
  			</div>
		</div>