---
layout: 2013_en
---
        <div id='main' class='clearfix'>
          <div id="report-title">
            <h1>Political arrests in Moscow: january - march 2013</h1>
          </div>
          <div class="col col-240 col-end">
            <!--<button class="btn btn-large btn-info" type="button">Download full report (.pdf)</button>-->
            <div id='toc' style="display:none;">
              <h4>Table of contents:</h4>
            </div>
          </div>
          <div id='prose' class='col-640 content view' style='margin: 15px 0 35px;'>
            {{ content }}
          </div>
        </div>