---
layout: 2013_en
---    
        <div class="limiter">
          <div id='prose-data' style='max-width: 960px;'>{{content}}</div>
        </div>
        <div id='table-wrapper'>
  			<div id='interactive-overviews'>
    			<div class="limiter">
      				<table class='clearfix tablesorter' style='display:none;'>
      					<colgroup> 
							<col width="85" /> 
    						<col width="150" /> 
    						<col width="85" /> 
    						<col width="100" /> 
    						<col width="120" />
    						<col width="220" /> 
    						<col width="110" /> 
    						<col width="90" /> 
  						</colgroup> 
        				<thead>
          					<tr>
            					<th>Date</th>
            					<th class="filter-select">Authorization</th>
            					<th class="filter-select">Event format</th>
            					<th class="filter-select">Event topic</th>
            					<th class="filter-select">Event organiser</th>
            					<th>Description</th>
            					<th>Number of arrests</th>
            					<th>Source</th>
          					</tr>
        				</thead>
        				<tbody>
        					<!-- Content populates here -->
        				</tbody>
      				</table>
    			</div>
  			</div>
		</div>