---
layout: default_ru
---
        <div id='main' class='clearfix about'>
          <div class="col col-400 col-end" style="height:900px;">
            <blockquote>То, что в издательском мире называется уродливым словом «лайфстайл» и раньше относилось преимущественно к сфере потребления, досуга и отдыха, теперь с неизбежностью включает в себя новости «ОВД-Инфо»</blockquote>
            <p class="caption"><a href="http://www.bg.ru/opinion/11292/">Алексей Мунипов, Большой город</a></p>
            <blockquote>Тема тюрьмы все чаще оказывается в центре общественного внимания. В контексте задержаний несогласных (их динамику можно отслеживать с помощью сайта Ovdinfo.org) и других резонансных арестов и задержаний</blockquote>
            <p class="caption"><a href="http://www.vedomosti.ru/opinion/news/7439221/tyurma_i_rynok#ixzz2Fwd6p2qX">Антон Олейник, Ведомости</a></p>
            <blockquote>Гражданское общество ответило на репрессии (впрочем, пока еще вполне вегетарианские) так, как никогда не отвечало, во всяком случае в последние 12 лет. На обыски и аресты — «РосУзником», «ОВД-Инфо» и «Агорой»</blockquote>
            <p class="caption"><a href="http://newtimes.ru/articles/detail/61518/">Евгения Альбац, The New Times</a></p>
            <blockquote>«Нам говорят, что правоохранительная система перегружена работой. Это мы видим. А если перегружает ее именно полиция? Нам говорят, что тюрьмы перенаселены. А если население перепосажено?» — этими словами из манифеста Информационной группы по тюрьмам, написанного Мишелем Фуко в 1971 году в Париже, руководствовались создатели московского проекта «ОВД-Инфо»</blockquote>
            <p class="caption"><a href="http://www.kommersant.ru/doc/1944231">Анна Наринская, Citizen K</a></p>
            <blockquote>Образовались "ОВД-инфо" и сообщества волонтеров, помогающих больным, бездомным, наркоманам. Все это происходит одновременно. Общественной жизни стало больше во всех ее выражениях, не только в виде митинговой активности</blockquote>
            <p class="caption"><a href="http://lenta.ru/articles/2012/06/15/nusinova/">Елена Нусинова, Лента.Ру</a></p>
            <blockquote>Журналист Григорий Охотин и программист Даниил Бейлинсон в процессе всех митингов организовали сервис "ОВД-Инфо", который оперативно собирает информацию о том, кого где задержали, куда везут, что делать, а также помогает с адвокатами и доставкой еды и одежды в ОВД</blockquote>
            <p class="caption"><a href="http://www.kommersant.ru/doc-y/2091804">Екатерина Кронгауз, КоммерсантЪ</a></p>
          </div>
          <div id='prose' class='col-560 content view'>
            {{ content }}
          </div>
        </div>