---
layout: default_en
---
        <div id='main' class='clearfix about'>
          <div class="col col-400 col-end">
            <blockquote>What Russian editors call a dubbing of the English term “lifestyle” and used to mostly involve consumption, leisure and entertainment, now inevitably includes news from OVD-info</blockquote>
            <p class="caption"><a href="http://www.bg.ru/opinion/11292/">Alexei Munipov, Bolshoi Gorod</a></p>
            <blockquote>The topic of prison is increasingly in the centre of public attention in the context of arrests of opposition activists (their dynamics can be traced using the website ovdinfo.org) and other notable arrests.</blockquote>
            <p class="caption"><a href="http://www.vedomosti.ru/opinion/news/7439221/tyurma_i_rynok#ixzz2Fwd6p2qX">Anton Oleinik, Vedomosti</a></p>
            <blockquote>Civil society responded to repression (still of the non-carnivorous kind) with an unprecedented response, at least without precedent in the past 12 years. [It responded] to searches and arrests with RosUznik, OVD-info and Agora</blockquote>
            <p class="caption"><a href="http://newtimes.ru/articles/detail/61518/">Yevgeniya Albats, The New Times</a></p>
            <blockquote>“They say that the law enforcement system is overloaded. We can see that. But what if it is the police who overloads it? They say that the prisons are overpopulated. What if the population is overimprisoned?” - these words from the manifesto of the Prisons Information Group, written by Michel Foucault in 1971 Paris, guided the founders of the Moscow project OVD-info</blockquote>
            <p class="caption"><a href="http://www.kommersant.ru/doc/1944231">Anna Narinskaya, Citizen K</a></p>
            <blockquote>OVD-info, volunteer communities dedicated to helping the sick, the homeless, the drug addicts, all of this sprang up. Public life has increased in all its aspects, not just as protest activity.</blockquote>
            <p class="caption"><a href="http://lenta.ru/articles/2012/06/15/nusinova/">Elena Nusinova, Lenta.Ru</a></p>
            <blockquote>During the protests, journalist Grigory Okhotin and programmer Daniel Beilinson have organised the service OVD-info, which collects real-time information on who got arrested where, where they’re being taken, what [you can] do, and helps coordinate lawyers and food and clothes for [detainees in] police stations</blockquote>
            <p class="caption"><a href="http://www.kommersant.ru/doc-y/2091804">Ekaterina Krongauz, Kommersant</a></p>
          </div>
          <div id='prose' class='col-560 content view'>
            {{ content }}
          </div>
        </div>