---
layout: default_ru
---   
        <div class="limiter">
          <div id="data-list" class="popover right">
            <div class="arrow"></div>
            <h3 class="popover-title">Данные</h3>
            <div class="popover-content">
              <ul class="nav nav-list">
                <li><a href="/2012/data">Задержания</a></li>
                <li><a href="/2012/data/courts">Мировые суды</a></li>
                <li class="active"><a href="/2012/data/appeals">Апелляции</a></li>
              </ul>
            </div>
          </div>
          <div id='prose-data'>{{content}}</div>
        </div>
        <div id='table-wrapper'>
  			<div id='interactive-overviews'>
    			<div class="limiter">
      				<table class='clearfix tablesorter' style='display:none;'>
      					<colgroup> 
							<col width="170" /> 
    						<col width="150" /> 
    						<col width="150" /> 
    						<col width="140" /> 
    						<col width="120" />
    						<col width="130" /> 
    						<col width="100" /> 
  						</colgroup> 
        				<thead>
          					<tr>
            					<th>Дата поступления</th>
            					<th>Правонарушение</th>
            					<th class="filter-select">Судья</th>
            					<th>Дата решения</th>
            					<th class="filter-select">Решение</th>
            					<th class="filter-select">Суд</th>
            					<th class="filter-select">Cтатья</th>
          					</tr>
        				</thead>
        				<tbody>
        					<!-- Content populates here -->
        				</tbody>
      				</table>
    			</div>
  			</div>
		</div>