---
layout: default_en
---   
        <div class="limiter">
          <div id="data-list" class="popover right">
            <div class="arrow"></div>
            <h3 class="popover-title">Data</h3>
            <div class="popover-content">
              <ul class="nav nav-list">
                <li class="active"><a href="/2012/data/en">Detentions</a></li>
                <li><a href="/2012/data/courts/en">Magistrate's courts</a></li>
                <li><a href="/2012/data/appeals/en">Appeals</a></li>
              </ul>
            </div>
          </div>
          <div id='prose-data'>{{content}}</div>
        </div>
        <div id='table-wrapper'>
  			<div id='interactive-overviews'>
    			<div class="limiter">
      				<table class='clearfix tablesorter' style='display:none;'>
      					<colgroup> 
							<col width="170" /> 
    						<col width="150" /> 
    						<col width="150" /> 
    						<col width="140" /> 
    						<col width="120" />
    						<col width="130" /> 
    						<col width="100" /> 
  						</colgroup> 
        				<thead>
          					<tr>
            					<th>Delivery date</th>
            					<th>Offence</th>
            					<th class="filter-select">Judge</th>
            					<th>Date of decision</th>
            					<th class="filter-select">Judgement</th>
            					<th class="filter-select">Court</th>
            					<th class="filter-select">Article</th>
          					</tr>
        				</thead>
        				<tbody>
        					<!-- Content populates here -->
        				</tbody>
      				</table>
    			</div>
  			</div>
		</div>