---
layout: default_en
---
        <div id="iloader"></div>
        <div id="main" role="main">
          <div id="view_selection" class="btn-group">
            <a href="#" id="all" class="btn active switcher">All arrests</a>
            <a href="#" id="cons" class="btn switcher">Authorised and non-authorised events</a>
            <a href="#" id="chron" class="btn switcher">Timeline</a>
            <a href="#" id="org" class="btn switcher">By event organiser</a>
            <a href="#" id="format" class="btn switcher">By event format</a>
          </div>
          <div id="data-overview" style="display:none;">
            <h5>Overview of arrests</h5>
            <p>From the start of mass political protest on 4 December 2011 and up to 31 December 2012 OVD-info tracked 5166 politically motivated arrests at 228 protest events in and around Moscow. 1312 of these arrests took place in December 2011, 3856 - in the year 2012.</p>
            <p style=" -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); top: 275px; position: absolute; left: -43px; filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); ">Event topic</p>
            <p style="top: 390px; position: absolute; left: 0px; font-size: 10px; width: 140px; font-style: italic;">Circle colour represents event topic</p>
          </div>
          <div id="data-group-overview" style="display:none;">
            <h5>Organization of events</h5>
            <p>The list of organisers below corresponds to the grouping of circles on the right. Hover mouse over the list or grouping to compare data.</p>  
          </div>
          <div id="data-agr-labels" style="display:none;">
			<div style="left: 10px;" class="data-agr-label agr"><h3>Confirmed</h3><p></p></div>
			<div style="left: 800px;" class="data-agr-label non-agr"><h3>Not confirmed</h3><p></p></div>
		  </div>
		  <div id="data-sizeKey" style="display:none;">
			<div style="left:116px;top:6px;width:20px;" class="data-circleKeyLabel"><span style="left:25px;">500 arrests</span></div>
			<div style="left:89px;top:32px;width:47px;" class="data-circleKeyLabel"><span style="left:52px;">200 arrests</span></div>
			<div style="left:53px;top:57px;width:83px;" class="data-circleKeyLabel"><span style="left:88px;">10 arrests</span></div>
		    <p style="top:73px;position:absolute;left:-30px;font-size:10px;width:140px;font-style:italic;">Circle radius represents number of arrests</p>
		  </div>
		  <div id="data-type-labels" style="display:none">
			<div style="left:5px;top:70px;" class="data-type-label data-type-label-0"><h3 class='type'></h3><span class='percents'></span><span class='total'></span></div>
			<div style="left:400px;top:70px;" class="data-type-label data-type-label-1"><h3 class='type'></h3><span class='percents'></span><span class='total'></span></div>
			<div style="left:770px;top:70px;" class="data-type-label data-type-label-2"><h3 class='type'></h3><span class='percents'></span><span class='total'></span></div>
			<div style="left:135px;top:400px;" class="data-type-label data-type-label-3"><h4 class='type'></h4><span class='percents'></span><span class='total'></span></div>
			<div style="left:440px;top:400px;" class="data-type-label data-type-label-4"><h4 class='type'></h4><span class='percents'></span><span class='total'></span></div>
			<div style="left:700px;top:400px;" class="data-type-label data-type-label-5"><h4 class='type'></h4><span class='percents'></span><span class='total'></span></div>
			<div style="left:900px;top:400px;width: 150px;" class="data-type-label data-type-label-6"><h4 class='type'></h4><span class='percents'></span><span class='total'></span></div>
			<div style="left:230px;top:580px;" class="data-type-label data-type-label-7"><h5 class='type'></h5><span class='percents'></span><span class='total'></span></div>
			<div style="left:390px;top:580px;" class="data-type-label data-type-label-8"><h5 class='type'></h5><span class='percents'></span><span class='total'></span></div>
			<div style="left:530px;top:580px;" class="data-type-label data-type-label-9"><h5 class='type'></h5><span class='percents'></span><span class='total'></span></div>
			<div style="left:680px;top:580px;" class="data-type-label data-type-label-10"><h5 class='type'></h5><span class='percents'></span><span class='total'></span></div>
			<div style="left:880px;top:580px;width: 150px;" class="data-type-label data-type-label-11"><h5 class='type'></h5><span class='percents'></span><span class='total'></span></div>
		  </div>
          <div id="vis"></div>
        </div>
		<div class="limiter"><div id='prose-igraph'>{{content}}</div></div>