---
layout: default_ru
---
        <div id="report-title">
            <span>Человек из автозака:</span>
            <span>политические задержания в Москве</span>
			<span>Годовой доклад ОВД-Инфо за 2012 год</span>
        </div>
        <div id='main' class='clearfix'>
          <div class="col col-240 col-end">
            <div id='toc' style="display:none;">
              <h4>Содержание:</h4>
            </div>
          </div>
          <div id='prose' class='col-640 content view'>
            {{ content }}
          </div>
        </div>