---
layout: default_ru
---
        <div id='main' class='clearfix'>
          <div id="report-title">
            <h1>Человек из автозака: политические задержания в Москве</h1>
			<h2>Годовой доклад ОВД-Инфо за 2012 год</h2>
          </div>
          <div class="col col-240 col-end">
            <div id='toc' style="display:none;">
              <h4>Содержание:</h4>
            </div>
          </div>
          <div id='prose' class='col-640 content view'>
            {{ content }}
          </div>
        </div>