---
layout: 2013_ru
---
<ul id='map-ui'></ul>
<div id='navigation'>
    <a href='#' data-position='55.7512419,37.6184217'>Москва</a>
    <a href='#' data-position='59.934280,30.335099'>Санкт-Петербург</a>
    <a href='#' data-position='56.327358,43.985191'>Нижний Новгород</a>
</div>
<div id='map'></div>
<div id='info'></div>
          <div id="loader"></div>
          <div class='wax-legends'>
            <div class='wax-legend'>
			  <div class='legend-title'>Распределение политических задержанных по отделам полиции в Москве: 1 января 2012 - 31 декабря 2013</div>
			  <div class='legend-scale'>
  				<ul class='legend-labels'>
    				<li><span style='background:#00E535;'></span>< 1 - 10</li>
    				<li><span style='background:#9BEE03;'></span>< 10 - 100</li>
    				<li><span style='background:#F3D205;'></span>< 100 - 200</li>
    				<li><span style='background:#F77807;'></span>< 200 - 300</li>
    				<li><span style='background:#FA1C08;'></span>300 +</li>
  				</ul>
			  </div>
			<div class='legend-source'>Источник: <a href="https://docs.google.com/file/d/0B-4PSkYLKeoTMS1mNDU1YTgxOS1lZTgzLTQ0ODMtYTdhYS05N2YwOTVhZGUzMDI/edit">данные ОВД-Инфо</a><a href='http://ovdinfo.org' target=_blank><img align='right' src='{{site.base_url}}/ext/img/logo_oi.png' /></a></div>
		    </div>
		  </div>
        <div id='table-wrapper'>
  			<div id='interactive-overviews'>
    			<div class="limiter">
      				<div id='ovtitle'>
        				<h2 class='ovheader hider'>Данные</h2>
      				</div>
      				<table class='hider clearfix tablesorter'>
      				    <colgroup> 
							<col width="100" /> 
    						<col width="250" /> 
    						<col width="320" /> 
    						<col width="120" /> 
    						<col width="170" /> 
  						</colgroup> 
        				<thead>
          					<tr>
            					<th>Дата</th>
            					<th>ОВД</th>
            					<th>Описание</th>
            					<th>Задержали</th>
            					<th>Ссылка на данные</th>
          					</tr>
        				</thead>
        				<tbody>
        					<!-- Content populates here -->
        				</tbody>
      				</table>
    			</div>
  			</div>
		</div>
		<div class="limiter"><div id='prose-map'>{{content}}</div></div>